.h1_admin_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 120px;
    font-size: 60px;
    color: #64ce64;
}
.btn_admin_home{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.text_admin_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    color: #48d148;
}
.nav-admin{
    background-color: #b9ffd6;
}
.nav-a{
    color: #3fad6d;
}
.nav-a:hover{
    color: #ac9579;
}
.admin{
    color: #ffaf4e;
}
.alert_admin{
    font-size: 16px;
    color: #003f00;
    background-color: #a8ffa8;
}
#form_post_admin{
    display: none;
}