#body_1{
    background: linear-gradient( 90deg, #a8ffa8, #c2fdc2, #e6ffe6); 
}
#body_2{
    background:  #e0ffed; 
}
#body-2{
    background:  #e0ffed; 
}
#body_admin_home{
    background-image: url("/static/img2/welcome_corto1.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 650px;
}
.fondo-body{
    background-color: rgb(116, 139, 116);
}
/*.home-admin-header{
    margin-top: 100px;
}*/
.nav-link-2{
    text-decoration: none;
    margin-right: 10px;
    color: #7ed957;
    font-weight: bold;
    font-size: 22px;
}
.nav-link-2:hover{
    color: #007d41;
}
.sesion-admin{
    color: #7ed957;
}
.body_login{
    background-color: #e9f9ff;
}