#body_1{
    background: linear-gradient( 90deg, #a8ffa8, #c2fdc2, #e6ffe6); 
}
#body_2{
    background:  #e0ffed; 
}
#body-2{
    background:  #e0ffed; 
}
#body_admin_home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img2/pexels-fallon-michael-3551711.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 574px; 
}
.h1_admin_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 120px;
    font-size: 60px;
    color: #64ce64;
}
.btn_admin_home{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.text_admin_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    color: #48d148;
}
.texto_home_usu{
    color: #54c454;
}
.body_login{
    background-color: #e9f9ff;
}
.home_sitio{
    background-color: #337e33;
    padding: 1em;
    color: white;
}
.nav-admin{
    background-color: #b9ffd6;
}
.nav-a{
    color: #3fad6d;
}
.nav-a:hover{
    color: #ac9579;
}
.admin{
    color: #ffaf4e;
}
#h1_sit_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #005700;
    font-size: 4.5em;
}
/* Estilo de h1_sit_home para pantallas tablet */
@media(max-width: 768px){
    #h1_sit_home{
        font-size: 3.25em;
    }
}
/* Estilo de h1_sit_home para pantallas moviles */
@media(max-width: 468px){
    #h1_sit_home{
        font-size: 2em;
    }
}
.h2_sit_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #747474;
}
.text_h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: #005700;
}
@media (min-width: 0px) and (max-width: 767px){
    .text_h3{
        font-size: 2.25em;
    }
}
/* Estilo de h1_sit_home para pantallas mas pequeñas 
@media(max-width: 768px){
    .text_h3{
        font-size: 2.75em;
    }
}
/* Estilo de h1_sit_home para pantallas mas pequeñas
@media(max-width: 468px){
    .text_h3{
        font-size: 2.25em;
    }
}*/
.fotos_sitio{
    width: 28em;
    height: 17.5em;
    text-align: center;
}
@media (min-width: 0px) and (max-width: 767px){
    .fotos_sitio{
        display: none;
    }
}
.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
/* Botón de acceso del home de admin */
.btn_acceso_a{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    border: 0px;
    padding: 8px;
    border-radius: 8px;
    background-color: #008000;
    color: #ffffff;
}
/* Botón hover de cceso del home de admin */
.btn_acceso_a:hover{
    background-color: #ffffff;
    color: #008000;
    border: 4px solid #008000;
}
#foot_sit_home{
    background-color: #337e33;
}
.foot_text{
    color: #e2e2e2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.alerta_regis{
    font-size: 16px;
    color: #ff0000;
    background-color: #ffa3a3;
    transition: ease-in .4s;
}
.alert_admin{
    font-size: 16px;
    color: #003f00;
    background-color: #a8ffa8;
}
.carrusel{
    height: 600px;
}
#form_post_admin{
    display: none;
}
#form_comentarios{
    display: none;
    position: fixed;
    top: 20%;
    bottom: 50%;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.card_bordes{
    background-color: #cdffe2;
    padding: 2px;
}
.card_post_usu{
    height: 14.3rem;
}
  .card_coment{
    margin: 25px;
    padding: 10px;
    position: relative;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    background-color: #f5efef;
  }
  .card_coment:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    border-top: 20px solid blue;
    border-top-color: inherit;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
/* Para que el texto no aparezca entero y se pueda usar leer mas */
  .card_coment .coment_text{
    max-height: 80px;
    overflow: hidden;
  }
  .card_coment .leer_mas{
    display: none;
  }
  .card_coment.expand .coment_text{
    max-height: none;
  }
  .card_coment.expand .leer_mas{
    display: none;
  }
  .leer_mas{
    float: right;
  }/* Fin leer mas */
/* Elaboración de las imagenes del home de usu */
.img_gale img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
  .col_galeria{
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 1px auto;
    columns: 4;
    column-gap: 10px;

  }
  .col_galeria .card_galeria{
    position: relative;
    max-width: 250px;
    height: 250px;
    background-color: #ffffff;
    margin: 20px 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out; 
  }
  .col_galeria .card_galeria:hover{
    height: 380px;
  }
  .col_galeria .card_galeria .img_gale{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 250px;
    top: -50px;
    left: 0px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .col_galeria .card_galeria .img_gale img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .col_galeria .card_galeria .contenido_card{
    position: relative;
    margin-top: 0px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .col_galeria .card_galeria:hover .contenido_card{
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s;
  }
  @media (max-width: 1200px){
  .col_galeria{
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px){
    .col_galeria{
        columns: 2;
    }
}
@media (max-width: 468px){
    .col_galeria{
        columns: 1;
    }
} /* Fin imagenes del home */
/* Páginas de registro y sus formularios*/
.img_registro{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0)), url("/static/img2/escritorio.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_regist{
  min-height: 400px;
  width: 75%;
  border: 0.5px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(7px);
  position: relative;
  overflow: hidden;
  color: white;
  margin-top: 40px;
}
.h1_regist{
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.form_regist:hover .h1_regist{
  color: #111;
  z-index: 1;
}
.form_regist:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.form_regist::after{
  content: '';
  position: absolute;
  top: -130px;
  left: 0;
  height: 130px;
  width: 100%;
  background: white;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  transition: 0.5s;
}
.form_regist:hover::after{
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background: white;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  transition: 0.5s;
}
.input_regist{
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px 0;
}
.input_regist input{
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 25px;
  outline: none;
}
.btn_regist{
  background-color: white;
  color: #111;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
}
.btn_regist:hover{
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
}
.text_login{
  color: black;
  font-weight: bold;
}
.text_login:hover{
  color: white;
  font-weight: bold;
}
.regist_migas{
  margin-top: -680px;
}/* Fin paginas de registro */
/* Páginas de login y sus formularios*/
html,body{
  height: 100vh;
}
.img_login{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img2/loguearse.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
}
@media only screen and (max-width: 768px){
  .img_login{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img2/loguearse.jpg");
    width: 100%;
  }
}
/*.img_login{
  min-height: 100vh;
  width: 100vw;
  max-width: auto;
  min-width: 320px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img2/loguearse.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}*/


/*.img_login{
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img2/loguearse.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }*/
.form_login{
  min-height: 400px;
  width: 60%;
  border: 0.5px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(7px);
  position: absolute;
  overflow: hidden;
  color: white;
  margin-top: 20px;
  margin-left: 20%;
}
.h1_login{
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.form_login:hover .h1_login{
  color: #111;
  z-index: 1;
}
.form_login:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.form_login::after{
  content: '';
  position: absolute;
  top: -130px;
  left: 0;
  height: 130px;
  width: 100%;
  background: white;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  transition: 0.5s;
}
.form_login:hover::after{
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background: white;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  transition: 0.5s;
}
.input_login{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px 0;
}
.input_login input{
  width: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 25px;
  outline: none;
}
.btn_login{
  background-color: white;
  color: #111;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
}
.btn_login:hover{
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
}
.text_regist{
  color: black;
  font-weight: bold;
}
.text_regist:hover{
  color: white;
  font-weight: bold;
}
.login_migas{
  margin-top: -600px;
}/* Fin paginas de registro */



  

