#body_1{
    background: linear-gradient( 90deg, #a8ffa8, #c2fdc2, #e6ffe6); 
}
#body_2{
    background:  #e0ffed; 
}
#body-2{
    background:  #e0ffed; 
}
#body_admin_home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img2/pexels-fallon-michael-3551711.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 574px; 
}
.h1_admin_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 120px;
    font-size: 60px;
    color: #64ce64;
}
.btn_admin_home{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.text_admin_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    color: #48d148;
}
.texto_home_usu{
    color: #54c454;
}
.body_regis{
    background-color: #529752;
}
.body_login{
    background-color: #e9f9ff;
}
.home_sitio{
    background-color: #337e33;
    padding: 1em;
    color: white;
}
.nav-admin{
    background-color: #b9ffd6;
}
.nav-a{
    color: #3fad6d;
}
.nav-a:hover{
    color: #ac9579;
}
.admin{
    color: #ffaf4e;
}
#h1_sit_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #005700;
    font-size: 4.5em;
}
/* Estilo de h1_sit_home para pantallas tablet */
@media(max-width: 768px){
    #h1_sit_home{
        font-size: 3.25em;
    }
}
/* Estilo de h1_sit_home para pantallas moviles */
@media(max-width: 468px){
    #h1_sit_home{
        font-size: 2em;
    }
}
.h2_sit_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #747474;
}
.text_h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: #005700;
}
@media (min-width: 0px) and (max-width: 767px){
    .text_h3{
        font-size: 2.25em;
    }
}
/* Estilo de h1_sit_home para pantallas mas pequeñas 
@media(max-width: 768px){
    .text_h3{
        font-size: 2.75em;
    }
}
/* Estilo de h1_sit_home para pantallas mas pequeñas
@media(max-width: 468px){
    .text_h3{
        font-size: 2.25em;
    }
}*/
.fotos_sitio{
    width: 28em;
    height: 17.5em;
    text-align: center;
}
@media (min-width: 0px) and (max-width: 767px){
    .fotos_sitio{
        display: none;
    }
}
.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
/* Botón de acceso del home de admin */
.btn_acceso_a{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    border: 0px;
    padding: 8px;
    border-radius: 8px;
    background-color: #008000;
    color: #ffffff;
}
/* Botón hover de cceso del home de admin */
.btn_acceso_a:hover{
    background-color: #ffffff;
    color: #008000;
    border: 4px solid #008000;
}
#foot_sit_home{
    background-color: #337e33;
}
.foot_text{
    color: #e2e2e2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.alerta_regis{
    font-size: 16px;
    color: #ff0000;
    background-color: #ffa3a3;
    transition: ease-in .4s;
}
.alert_admin{
    font-size: 16px;
    color: #003f00;
    background-color: #a8ffa8;
}
.carrusel{
    height: 600px;
}
#form_post_admin{
    display: none;
}
#form_comentarios{
    display: none;
    position: fixed;
    top: 20%;
    bottom: 50%;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.card_bordes{
    background-color: #cdffe2;
    padding: 2px;
}
.card_post_usu{
    height: 14.3rem;
}
/* Estilo para la seccion de los dialogos 
.dialog_box{
    width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dialog_text{
    margin-bottom: 10px;
}
.dialog_boton{
    background-color: #4CAF50;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/
/* Columnas galeria para diferentes dispositivos  */
/*.card_galeria {
    margin-left: 0.75em;
    width: 12.25em;
  }
@media (max-width: 467px){
    .card_galeria{
        margin-left: 0.75em;
        width: 11.8em;
    }
}   
.card_img_gale{
    width: 12.25em;
    height: 12.50em;
}
@media (max-width: 467px){
    .card_img_gale{
        width: 11.70em;
        height: 12em;
    }
}

.col_galeria {
    flex: 0 0 16.66667%; /* Ancho de las columnas 
    max-width: 16.66667%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 18px;
  }  
@media (min-width: 100px) and (max-width: 767px) {
    .col_galeria {
      flex: 0 0 50%; /* Columnas de ancho completo en pantallas pequeñas 
      max-width: 50%;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 793px) {
    .col_galeria {
      flex: 0 0 33.333; /* Dos columnas en pantallas medianas 
      max-width: 33.333%;
      margin-left: 10px;
      
    }
  }

  @media (min-width: 794px) and (max-width: 991px) {
    .col_galeria {
      flex: 0 0 25%; /* Dos columnas en pantallas medianas 
      max-width: 25%;
      margin-left: 0px;
      
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .col_galeria {
      flex: 0 0 25%; /* Tres columnas en pantallas grandes 
      max-width: 25%;
      margin-left: 0px;
      
    }
  }
  
  /*@media (min-width: 1200px) {
    .col_galeria {
      flex: 0 0 20%; /* Cuatro columnas en pantallas extra grandes
      max-width: 20%;
      margin-right: 5px;
      margin-left: 5px;
    }
  }@media (min-width: 1201px) {
    .col_galeria {
      flex: 0 0 16.6666%; /* Cuatro columnas en pantallas extra grandes
      max-width: 16.6666%;
      margin-right: 5px;
      margin-left: 5px;
    }
  }*/
  .card_coment{
    margin: 25px;
    padding: 10px;
    position: relative;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    background-color: #f5efef;
  }
  .card_coment:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    border-top: 20px solid blue;
    border-top-color: inherit;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
/* Para que el texto no aparezca entero y se pueda usar leer mas */
  .card_coment .coment_text{
    max-height: 80px;
    overflow: hidden;
  }
  .card_coment .leer_mas{
    display: none;
  }
  .card_coment.expand .coment_text{
    max-height: none;
  }
  .card_coment.expand .leer_mas{
    display: none;
  }
  .leer_mas{
    float: right;
  }/* Fin leer mas */
/* Elaboración de las imagenes del home de usu */
  .col_galeria{
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 1px auto;
    columns: 4;
    column-gap: 10px;

  }
  .col_galeria .card_galeria{
    position: relative;
    max-width: 300px;
    height: 240px;
    background-color: #ffffff;
    margin: 20px 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out; 
  }
  .col_galeria .card_galeria:hover{
    height: 370px;
  }
  .col_galeria .card_galeria .card_img_gale{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 250px;
    top: -50px;
    left: 0px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .col_galeria .card_galeria .card_img_gale img{
    max-width: 100%;
    border-radius: 3px;
  }
  .col_galeria .card_galeria .contenido_card{
    position: relative;
    margin-top: 0px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .col_galeria .card_galeria:hover .contenido_card{
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s;
  }
  @media (max-width: 1200px){
  .col_galeria{
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px){
    .col_galeria{
        columns: 2;
    }
}
@media (max-width: 468px){
    .col_galeria{
        columns: 1;
    }
} /* Fin imagenes del home */
/* Galeria de fotos en usu en estilo rotativo*/
#body_galeria{
    background: #e0ffed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.col_galeria2{
    position: relative;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 1px auto;
    perspective: 1000px;
    overflow: hidden;
  }
  .col_galeria2 .card_galeria2{
    position: relative;
    max-width: 300px;
    height: 240px;
    background-color: #ffffff;
    margin: 20px 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out; 
    transform-style: preserve-3d;
    animation: rotateAnimation 15s infinite linear; 
  }
  @keyframes rotateAnimation{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(1turn);
    }
  }
  .col_galeria2 .card_galeria2:hover{
    height: 370px;
  }
  .col_galeria2 .card_galeria2 .card_img_gale2{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 250px;
    top: -50px;
    left: 0px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transform: rotateY(0deg) translateZ(400px);
  }
  .col_galeria2 .card_galeria2 .card_img_gale2 img{
    max-width: 100%;
    border-radius: 3px;
    transform: translateZ(50px);
  }
  .col_galeria2 .card_galeria2 .contenido_card2{
    position: relative;
    margin-top: 0px;
    padding: 10px 25px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .col_galeria2 .card_galeria2:hover .contenido_card2{
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s;
  }

