/* Páginas de login y sus formularios*/
/*html,body{
    height: 100vh;
  }*/
  .img_login{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img2/loguearse.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  .form_login{
    border: 0.5px solid #999;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    /*flex-direction: column;*/
    position: flex;
    overflow: hidden;
    color: #ffffff;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h1_login{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .form_login:hover .h1_login{
    color: #111;
    z-index: 1;
  }
  .form_login:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }
  .form_login::after{
    content: '';
    position: absolute;
    top: -130px;
    left: 0;
    height: 130px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    transition: 0.5s;
  }
  .form_login:hover::after{
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    transition: 0.5s;
  }
  .input_login{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .input_login input{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 25px;
    outline: none;
  }
  .btn_login{
    background-color: white;
    color: #111;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
  }
  .btn_login:hover{
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
  }
  .text_regist{
    color: black;
    font-weight: bold;
  }
  .text_regist:hover{
    color: white;
    font-weight: bold;
  }
  .login_migas{
    margin-top: 2px;
  }/* Fin paginas de registro */