#h1_sit_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #005700;
    font-size: 4.5em;
}
/* Estilo de h1_sit_home para pantallas tablet */
@media(max-width: 768px){
    #h1_sit_home{
        font-size: 3.25em;
    }
}
/* Estilo de h1_sit_home para pantallas moviles */
@media(max-width: 468px){
    #h1_sit_home{
        font-size: 2em;
    }
}
.h2_sit_home{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #747474;
}
.text_h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: #005700;
}
@media (min-width: 0px) and (max-width: 767px){
    .text_h3{
        font-size: 2.25em;
    }
}
.home_sitio{
    background-color: #337e33;
    padding: 1em;
    color: white;
}
.fotos_sitio{
    width: 28em;
    height: 17.5em;
    text-align: center;
}
@media (min-width: 0px) and (max-width: 767px){
    .fotos_sitio{
        display: none;
    }
}
.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
#foot_sit_home{
    background-color: #337e33;
}
