{% extends 'admin/base.html' %}
{% block titulo %} Registro de productos {% endblock %}
{% block contenido %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-2 mx-4">
    <li class="breadcrumb-item"><a href="/usu_home/" class="text-success text-decoration-none fw-bold">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>
<h1 class="text-center text-secondary fw-bold my-4">Agrega tus productos</h1>
<div class="container-lg">
  <div class=" card shadow mb-4">
    <div class="card-body align-items-center">
      <form action="/admin/guardar" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="row mb-2 pt-2">
            <div class="col-xs-4 col-s-4 col-m-4 col-l-2">
              <label for="producto">Producto</label>
              <input type="text" name="producto" id="producto" class="form-control">
            </div>
            <div class="col-xs-4 col-s-4 col-m-4 col-l-3">
              <label for="imagen">Imágen</label>
              <input type="file" name="imagen" id="imagen" class="form-control" accept=".txt,.pdf,.png,.jpg,.jpeg,.gif">
            </div>
            <div class="col-xs-4 col-s-4 col-m-4 col-l-2">
              <label for="url">URL</label>
              <input type="text" name="url" id="url" class="form-control">
            </div>
            <div class="col-xs-4 col-s-4 col-m-4 col-l-2">
              <label for="genero">Género</label>
              <input type="text" class="form-control" name="genero" id="genero">
            </div>
            <div class="col-xs-4 col-s-4 col-m-4 col-l-2">
              <label for="descrip">Descripción</label>
              <textarea class="form-control" name="descrip" id="descrip" style="height: 30px;"></textarea>
            </div>
            <div class="col-xs-4 col-s-4 col-m-4 col-l-1">
              <button type="submit" class="btn btn-primary mb-3 mt-4">Añadir</button>
            </div>
          </div>
      </form>
      <!-- Tabla -->
      <div class="table-responsive-md">
      <table class="table table-border">
        <div class="row">
        <thead>
          <tr>
            <th class="col-xs-2 col-s-2 col-m-2 col-l-2 text-center">Producto</th>
            <th class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center">Imágen</th>
            <th class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center">URL</th>              
            <th class="col-xs-2 col-s-2 col-m-2 col-l-2 text-center">Género</th>
            <th class="col-xs-3 col-s-3 col-m-3 col-l-3 text-center">Descripción</th>
            <th class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center">Fecha</th>
            <th class="col-xs-2 col-s-2 col-m-2 col-l-2 text-center">Posts</th>
            <th></th>
          </tr>
        </thead>
        </div>
        <div class="row">
        <tbody>
          {% for p in productos %}
            <tr>
              <td class="col-xs-2 col-s-2 col-m-2 col-l-2 text-center pt-4">{{ p.producto }}</td>
              <td class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center">
                <img width="60" src="/img/{{ p.imagen}}" class="img-fluid" alt="">
              </td>
              <td class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center pt-4">
                <button type="submit" class="btn btn-info"><a href="{{ p.url }}" target="_blank" class="text-decoration-none">+Info</a></button>
              </td>
              <td class="col-xs-2 col-s-2 col-m-2 col-l-2 text-center pt-4">{{ p.genero }}</td>
              <td class="col-xs-3 col-s-3 col-m-3 col-l-3 text-center pt-4">{{ p.descripcion }}</td>
              <td class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center pt-4">{{ p.created_at }}</td>
              <td class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center pt-4">
                <button type="submit" class="btn btn-primary" id="btn-edit" data-bs-toggle="modal" data-bs-target="#modal"><a href="/admin_posts/" class="text-decoration-none text-white">Posts</a></button>  
              </td>
              <td class="col-xs-1 col-s-1 col-m-1 col-l-1 text-center pt-4">
                <form action="/admin/borrar" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="id" id="id" value="{{ p.id_productos }}">
                  <button type="submit" class="border-0 bg-white"><img src="static/iconos/papelera.png" class="papelera" alt="papelera"><p class="p_papelera">Borrar</p></button>
                </form>
              </td>
            </tr>
            <!-- Creacción del modal -->
            <!--<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title text-secondary fw-bold fs-3" id=""></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/editar/" method="POST" enctype="multipart/form-data">
                    <label for="">Nombre Planta</label>
                    <input type="text" name="txtPlanta" id="txtPlanta" class="form-control" value="">
                    <label for="">Imágen</label>
                    <input type="file" name="txtImagen" id="txtImagen" class="form-control" value="">
                    <label for="">Url</label>
                    <input type="text" name="txtUrl" id="txtUrl" class="form-control" value="">
                    <label for="">Especie</label>
                    <input type="text" name="txtGenero" id="txtGenero" class="form-control" value="">
                    <button type="submit" class="btn btn-success mt-3">Actualizar</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
              </div>
            </div>-->
          {% endfor %}
        </tbody>
        </div>
      </table>
      </div>
    </div>
  </div>
</div>                
{% endblock %}