{% extends 'usu/base.html' %}
{% block titulo %} Comentarios de Usuarios {% endblock %}
{% block contenido %}
<div class="container my-3">
  {% for mensaje in mensajes %}
  <div class="d-flex justify-content-center">
  <div class="card card_coment shadow mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ mensaje['usuario'] }}</h5>
      <p class="card-text">{{ mensaje['mensaje'] }}</p>
      <p class="card-text"><small class="text-muted">Públicado: {{ mensaje['created_at'] }}</small></p>
    </div>
  </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
