{% extends 'usu/base.html' %}
{% block titulo %} Galeria de imagenes {% endblock %}
{% block contenido %}
<div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-2 mx-4">
    <li class="breadcrumb-item"><a href="/usu_home/" class="text-success text-decoration-none fw-bold">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Galeria fotos</li>
  </ol>
</nav>
</div>
<section class="container-fluid">
<div id="body_galeria" class="carousel">
  <div class="col_galeria my-4">
  {% for img in imagenes %}
  <div class="card card_galeria carousel-item" id="">
    <span><img class="card-img-top img_gale" src="/static/img/{{ img[4] }}" alt="Title"></span>
  <div class="contenido_card">
    <h5 class="card-title">{{ img[3] }}</h5>
    <h6 class="text-secondary">Usuario: <a href="mailto:{{ img[2] }}" class="text-decoration-none"><strong class="">{{ img[2] }}</strong></a></h6>
    <h6 class="text-secondary">Fecha: <strong class="">{{ img[8] }}</strong></h6>
  </div>
  </div>
  {% endfor %}
  </div>
</div>
</section>
<!-- Galeria de muestra -->

{% endblock %}