{% extends 'usu/base.html' %}
{% block titulo %} Home {% endblock %}
{% block contenido %}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-2 mx-4">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
</div>
<section class="container-lg">   
<h2 class="text-center texto_home_usu">Últimas fotos publicadas</h2>
<div class="col_galeria my-4">
  {% for img in imagenes %}
  <div class="card card_galeria carousel-item" id="">
    <span><img class="card-img-top img_gale" src="/static/img/{{ img[4] }}" alt="Title"></span>
  <div class="contenido_card">
    <h5 class="card-title">{{ img[3] }}</h5>
    <h6 class="text-secondary">Usuario: <a href="mailto:{{ img[2] }}" class="text-decoration-none"><strong class="">{{ img[2] }}</strong></a></h6>
    <h6 class="text-secondary">Fecha: <strong class="">{{ img[8] }}</strong></h6>
  </div>
  </div>
  {% endfor %}
  </div>
  <h3 class="text-center texto_home_usu">Últimos post publicados</h3>
  <div class="row my-4">
    {% for post in posts2 %}
    <div class="col-l-4">
    <div class="card card_post_usu mb-3">
      <div class="card_bordes">
        <h6 class="text-center">{{ post[2] }}</h6>
      </div>
      <div class="card-body">
        <h5 class="fw-bold">{{ post[3] }}</h5>
        <textarea class="form-control border border-0" readonly>{{ post[4] }}</textarea>
      </div>
      <div class="card_bordes">
        <div class="row">
          <div class="col-l-8">
            <h6 class="text-center pt-2">Publicado: <strong>{{ post[5] }}</strong></h6>
          </div>
          <div class="col-l-4">
            <button type="submit" class="btn-dialogos px-4 border-0"><a href="/comentarios_usu/" class="text-decoration-none text-white"><img src="/static/iconos/dialogos.png" class="dialogos" alt="dialogos"></a></button>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
   </div>
</section>
{% endblock %}